* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: hsl(30, 38%, 92%);
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.productPreview_card {
  background-color: white;
  max-width: 550px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 10px;
  margin-bottom: 20px;
}

.left {
  width: 50%;
}

/* .left .atDesktop {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  aspect-ratio: 1 / 1;
} */

.left .imgContainer {
  /* display: block; */
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1 / 1; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right {
  /* display: block; */
  /* border: 1px solid black; */
  width: 50%;
  padding: 30px;
}

.productCategory,
.productName,
.productDetails,
.productPrice p {
  margin: 0;
}

.right .productCategory {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: hsl(228, 12%, 48%);
}

.right .productName {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 20px;
}

.right .productDetails {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  line-height: 1.4;
  margin-bottom: 18px;
  color: hsl(228, 12%, 48%);
}

.right .productPrice {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.productPrice .productDiscounted {
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.productPrice .productOriginal {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.right .productBtn {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
  border: none;
  padding: 15px 0px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.productBtn:hover {
  background-color: hsl(158, 42%, 18%);
}

.productBtn:active {
  background-color: hsl(158, 36%, 37%);
}

.productBtn img {
  margin-bottom: -1px;
  margin-right: 6px;
  width: 12px;
}

@media (max-width: 550px) {
  body {
    padding: 50px 10px;
  }

  .productPreview_card {
    flex-direction: column;
    max-width: 350px;
  }

  /* .left .atDesktop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    background-image: url(./images/image-product-mobile.jpg);
  } */

  .left,
  .right {
    width: 100%;
  }

  .left .imgContainer {
    background-image: url(./images/image-product-mobile.jpg);
    width: 100%;
    aspect-ratio: 4 / 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .right .productCategory {
    font-size: 0.8rem;
  }

  .right .productName {
    font-size: 1.9rem;
  }
}

.attribution {
  font-family: "Montserrat", sans-serif;
  font-size: 0.65rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
